<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Тест young</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Тест young</h1>
    <form action="/result" method="post" id="testForm">
        <input type="hidden" name="test_id" value="1">
        <div class="question-box">
            <p>Вопрос_1 (?)</p>
            <input type="radio" name="factor_A" value="1"> Ответ 1<br>
            <input type="radio" name="factor_A" value="2"> Ответ 2<br>
            <input type="radio" name="factor_A" value="3"> Ответ 3<br>
            <input type="radio" name="factor_A" value="4"> ответ 4<br>
        </div>
        <input type="hidden" name="test_id" value="2">
        <div class="question-box">
            <p>Вопрос_2 (?)</p>
            <input type="radio" name="factor_B" value="1"> Ответ 1<br>
            <input type="radio" name="factor_B" value="2"> Ответ 2<br>
            <input type="radio" name="factor_B" value="3"> Ответ 3<br>
            <input type="radio" name="factor_C" value="4"> ответ 4<br>
        </div>
        <input type="hidden" name="test_id" value="3">
        <div class="question-box">
            <p>Вопрос_3 (?)</p>
            <input type="radio" name="factor_C" value="9"> Ответ 1<br>
            <input type="radio" name="factor_C" value="10"> Ответ 2<br>
            <input type="radio" name="factor_C" value="11"> Ответ 3<br>
            <input type="radio" name="factor_C" value="12"> ответ 4<br>
        </div>
        <!-- Остальные вопросы -->
        <button type="submit" name="action" value="complete">Закончить и отправить ответы</button>
        <button type="button" onclick="endTestEarly()">Закончить предварительно</button>
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
        const savedProgress = localStorage.getItem('testProgress');
            if (savedProgress) {
                const answers = JSON.parse(savedProgress);
                for (const [key, value] of Object.entries(answers)) {
                    const input = document.querySelector(`input[name="${key}"][value="${value}"]`);
                    if (input) {
                        input.checked = true;
                    }
                }
            }
        });

        function endTestEarly() {
            function saveProgress() {
                const form = document.getElementById('testForm');
                const answers = {};

                form.querySelectorAll('input[type="radio"]:checked').forEach(input => {
                    answers[input.name] = input.value;
                });

                localStorage.setItem('testProgress', JSON.stringify(answers));

                alert('Прогресс теста сохранен');
            }
            alert('Тест завершен предварительно');
            window.location.href = '/';
        }
    </script>
</body>
</html>
